@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './ant-design-vue.scss';

// 全局样式

html {
    font-size: 16px;
    font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    word-break: break-word;
    overflow-y: scroll;
}

body {
    font-size: 1em;
}

li {
    display: inline-block;
    list-style: none;
}

a {
    color: #71777c;
}

.right {
    position: relative;
    top: 0;
    right: 0;
}

.container {
    display: flex;
    align-items: center;
    height: 100%;
    max-width: 960px;
    margin: 0 auto;
}